# docs
docs/_build
docs/TODO
apidoc

# build
kademlia.egg-info
liaa.egg-info
build
dist
*.pyc

# general
__pycache__

# env
.vscode/
.envrc
venv/
virtualenv/
test-virtualenv/

# testing
.coverage
.pytest_cache/

# misc
_trial_temp

# runtime cache
*.pickle
*.pid
